<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<h1><i class="fas fa-blind"></i>  CAH</h1>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarColor03">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<p class="nav-link"></p>
			</li>
			<li class="nav-item active">
				<p class="nav-link"><i class="fas fa-user"></i> <span id="currentUser"><%= user.name %></span></p>
			</li>
			<li class="nav-item active">
				<p class="nav-link"><i class="fas fa-home"></i> The <span id="room-name"><%= user.last_room %></span> room</p>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<a href="/users/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
		</form>
	</div>
</nav>
<div class="chat-container">
	<div class="card card-body">
			<div>
				<div class="card text-white bg-dark mb-3" style="max-width: 15rem;">
					<div class="card-header">Shared Resource</div>
					<div class="card-body">
						<h4 class="card-title">Black Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>

			<div style="overflow-x:scroll; max-width:62rem; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;">
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Shared Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Shared Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Shared Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
			</div>
			
			<div class="mt-3" style="overflow-x:scroll; max-width:210rem; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;">
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Private Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Private Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Private Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Private Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Private Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Private Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Private Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Private Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Private Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
				<div class="card border-dark mr-3" style="min-width: 15rem;">
					  <div class="card-header">Private Resource</div>
					  <div class="card-body">
						<h4 class="card-title">White Card</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
				</div>
			</div>
	</div>
	<div class="card card-body">
		<table class="table">
		  <thead>
			<tr>
			  <th scope="col"><h3><i class="fas fa-users"></h3></th>
			  <th scope="col"><h3>Users</h3></th>
			  <th scope="col"><h3>Points</h3></th>
			</tr>
		  </thead>
		  <tbody class="users-table">
		  </tbody>
		</table> 
	</div>
	<div class="mb-3"></div>
	<header class="chat-header card card-body">
		<h3><i class="fas fa-comments"></i> Boner-Chat</h3>
	</header>
	<main class="chat-main">
		<div style="overflow-y:auto; height:215px;" class="chat-messages card card-body"></div>
	</main>
	<div class="chat-form-container">
		<form class="form-group" id="chat-form">
			<input
				class="form-control"
				id="msg"
				type="text"
				placeholder="Enter Message"
				required
				autocomplete="off"
			/>
			<button class="btn btn-primary btn-block mb-2"><i class="fas fa-paper-plane"></i> Send</button>
		</form>
	</div>
</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/application.js"></script>