<div class="row mt-0">
    <div class="col-md-6 m-auto">
      <div class="card">
        <% include ./partials/messages %>
        <form action="/cah" method="GET">
          <nav class="card navbar-expand-lg navbar-light bg-light">
            <button class="text-left btn-lg btn-block navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor00" aria-controls="navbarColor00" aria-expanded="false" aria-label="Toggle navigation">
              <p class="navbar-brand"> Custom Cards <i class="fas fa-caret-down"></i></p>
            </button>
          
            <div class="navbar-collapse collapse" id="navbarColor00" style="">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">

                    <div id="customBtnGroup" class="btn-group-vertical btn-block" data-toggle="buttons">

                    </div>

                </li>
              </ul>
            </div>
          </nav>

            <nav class="card navbar-expand-lg navbar-light bg-light">
                <button class="text-left btn-lg btn-block navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <p class="navbar-brand"> Base Game <i class="fas fa-caret-down"></i></p>
                </button>
              
                <div class="navbar-collapse collapse" id="navbarColor01" style="">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">

                        <div id="baseBtnGroup" class="btn-group-vertical btn-block" data-toggle="buttons">

                        </div>

                    </li>
                  </ul>
                </div>
              </nav>

              <nav class="card navbar-expand-lg navbar-light bg-light">
                <button class="text-left btn-lg btn-block navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                  <p class="navbar-brand"> Expansion Packs <i class="fas fa-caret-down"></i></p>
                </button>
              
                <div class="navbar-collapse collapse" id="navbarColor02" style="">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">

                      <div id="expansionBtnGroup" class="btn-group-vertical btn-block" data-toggle="buttons">
                                                                                                                       
                      </div>

                    </li>
                  </ul>
                </div>
              </nav>

              <nav class="card navbar-expand-lg navbar-light bg-light">
                <button class="text-left btn-lg btn-block navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                  <p class="navbar-brand"> Box Sets <i class="fas fa-caret-down"></i></p>
                </button>
              
                <div class="navbar-collapse collapse" id="navbarColor03" style="">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">

                      <div id="boxBtnGroup" class="btn-group-vertical btn-block" data-toggle="buttons">
                                               
                      </div>

                    </li>
                  </ul>
                </div>
              </nav>

              <nav class="card navbar-expand-lg navbar-light bg-light">
                <button class="text-left btn-lg btn-block navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
                  <p class="navbar-brand"> International Editions <i class="fas fa-caret-down"></i></p>
                </button>
              
                <div class="navbar-collapse collapse" id="navbarColor04" style="">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">

                      <div id="internationalBtnGroup" class="btn-group-vertical btn-block" data-toggle="buttons">

                      </div>

                    </li>
                  </ul>
                </div>
              </nav>

              <nav class="card navbar-expand-lg navbar-light bg-light">
                <button class="text-left btn-lg btn-block navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor05" aria-controls="navbarColor05" aria-expanded="false" aria-label="Toggle navigation">
                  <p class="navbar-brand"> Themed Packs <i class="fas fa-caret-down"></i></p>
                </button>
              
                <div class="navbar-collapse collapse" id="navbarColor05" style="">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">

                      <div id="themeBtnGroup" class="btn-group-vertical btn-block" data-toggle="buttons">

                      </div>

                    </li>
                  </ul>
                </div>
              </nav>

              <nav class="card navbar-expand-lg navbar-light bg-light">
                <button class="text-left btn-lg btn-block navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor06" aria-controls="navbarColor06" aria-expanded="false" aria-label="Toggle navigation">
                  <p class="navbar-brand"> Limited Editions <i class="fas fa-caret-down"></i></p>
                </button>
              
                <div class="navbar-collapse collapse" id="navbarColor06" style="">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">

                      <div id="limitedBtnGroup" class="btn-group-vertical btn-block" data-toggle="buttons">
                        
                      </div>

                    </li>
                  </ul>
                </div>
              </nav>

            <button type="submit" class="btn btn-primary btn-block">Done</button>
        </form>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/options.js"></script>