<div class="row mt-0">
    <div class="col-md-6 m-auto">
      <div class="card">
        <% include ./partials/messages %>
        <form action="/cah" method="GET">

            <nav class="card navbar-expand-lg navbar-light bg-light">
                <button class="text-left btn-lg btn-block navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <p class="navbar-brand"> House Rules <i class="fas fa-caret-down"></i></p>
                </button>
              
                <div class="navbar-collapse collapse" id="navbarColor01" style="">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">

                        <div id="rulesBtnGroup" class="btn-group-vertical btn-block" data-toggle="buttons">

                        </div>

                    </li>
                  </ul>
                </div>
              </nav>

            <button type="submit" class="btn btn-primary btn-block">Done</button>
        </form>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/rules.js"></script>