<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 style="margin-left: auto; margin-right: auto;"><img class="" src="IMG_0455.PNG" style="height:3.5rem;"></h1>
      <% include ./partials/messages %>
      <form action="/selectroom" method="POST">
        <div class="form-group">
          <label for="name">Username</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Username"
            maxlength="16"
			      value=''
          />
        </div>
        <div class="form-group">
          <label for="room">Room</label>
			<input name="room" id="room" type="text" maxlength="6" placeholder="Code" style="text-transform: uppercase;">
      </input>
        </div>
        <button type="submit" onclick=setUserName(); class="btn btn-primary btn-block mb-2">Join Room</button>
      </form>
		<a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
  </div>
</div>
<script src="/utils/selectroom.js"></script>