<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CAH</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
		<link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>

	<div class="chat-container">
	<div id="cah-view"><!-- cah-view not defined in styles.css -->
			<div id="currentUser">{{name}}</div>
			<div><button>isCardCzar</button></div>
			<div>CurrentBlackCard_____________________</div>
				<p>
					<button>BC</button>
				</p>
			<div>CzarHand_____________________________</div>
				<p>
					<button>W(p2)</button>
					<button>W(p3)</button>
					<button>W(p4)</button>
				</p>
			<div>MyWhiteCards_________________________</div>
				<p>
					<button>W1</button>
					<button>W2</button>
					<button>W3</button>
					<button>W4</button>
					<button>W5</button>
					<button>W6</button>
					<button>W7</button>
					<button>W8</button>
					<button>W9</button>
					<button>W10</button>
				</p>
			<div>Standings____________________________</div>
				<p>
					Player1=X Points</br>
					Player2=X Points</br>
					Player3=X Points</br>
					Player4=X Points</br>
				</p>
		</div>
      <header class="chat-header">
        <h1><i class="fas fa-blind"></i> CAH</h1>
        <a href="index.html" class="btn">Leave Room</a>
      </header>
      <main class="chat-main">
        <div class="chat-sidebar">
          <h3><i class="fas fa-comments"></i> Room Name:</h3>
          <h2 id="room-name">{{room}}</h2>
          <h3><i class="fas fa-users"></i> Users</h3>
          <ul id="users"></ul>
        </div>
		<div class="chat-messages"></div>
      </main>
      <div class="chat-form-container">
        <form id="chat-form">
          <input
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
          />
          <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
      </div>
    </div>

    </body>
	<script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/application.js"></script>
</html>