<!DOCTYPE html>
<html>
 
<head>
    <title>Join Room</title>
</head>
 
<body>
    <form id="continue" name="continue" method="post" action="continue">
        <label for="roomname">Room Name</label>
        <input class="text" name="roomname" type="text" />
        <label for="roomkey">Room Key</label>
        <input name="roomkey" type="text" />
        <input class="btn" type="submit" value="Continue" />
    </form>
 
</body>
 
</html>