<!DOCTYPE html>
<html>
 
<head>
    <title>Create Room</title>
</head>
 
<body>
    <form id="create" name="create" method="post" action="create">
        <label for="roomname">room name</label>
        <input class="text" name="roomname" type="text" />
        <input class="btn" type="submit" value="Create" />
    </form>

</body>
 
</html>