<!DOCTYPE html>
<html>
 
<head>
    <title>Choose Your Display Name</title>
</head>
 
<body>
    <form id="entercah" name="entercah" method="post" action="entercah">
        <label for="displayname">Choose your display name</label>
        <input class="text" name="displayname" type="text" />
        <input class="btn" type="submit" value="Enter Room" />
    </form>

</body>
 
</html>