<!DOCTYPE html>
<html>
 
<head>
    <title>Enter Your Display Name</title>
</head>
 
<body>
    <form id="entercah" name="entercah" method="post" action="entercah">
        <label for="displayname">Enter your display name</label>
        <input id="displayname" class="text" name="displayname" type="text" value='{{name}}'/>
        <input class="btn" type="submit" value="Enter Room" />
    </form>

</body>

</html>