<!DOCTYPE html>
<html>
 
<head>
    <title>Room Options</title>
</head>
 
<body>
    <form id="createroom" name="createroom" method="post" action="/createroom">
        <input class="btn" type="submit" value="Create Room" />
    </form>
	<form id="join" name="join" method="post" action="/join">
		<input class="btn" type="submit" value="Join Room" />
    </form>
 
</body>
 
</html>