<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="register" name="register" method="post" action="/register">
        <label for="username">Username</label>
        <input class="text" name="username" type="username" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Register" />
    </form>
 
</body>
 
</html>