<!DOCTYPE html>
<html>
 
<head>
    <title>Room Details</title>
</head>
 
<body>
    <form id="continue" name="continue" method="post" action="continue">
        <label for="details">Room 'X' has been created.<br/ >The room key is '123456'.<br/ >Share the room name and key with your friends<br/ ></label>
        <input class="btn" type="submit" value="Continue" />
    </form>

</body>
 
</html>